body{
    background-color: rgb(255, 255, 255);
}

.box{
    margin: auto;
    width: 300px;
    height: 300px;
    padding-top: 150px;
    align-items: center;
    text-align: center;
}
.box2{
    margin: 10px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px 1px rgb(222, 222, 221);
    border-radius: 20px;
}
.line{
    position: relative;
    left: -10px;
    width: 280px;
    height: 1px;
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    opacity: 50%;
}
form input{
    width: 220px;
    height: 25px;
    border-radius: 20px;
    border: none;
    text-align: center;
    border-color: rgb(255, 255, 255);
    background-color: white;
    color: rgb(131, 126, 126);
}
.bottom{
    border-bottom: 1px solid rgb(229, 229, 229);
}
.colorchange{
    border: 1px solid rgb(229, 229, 229);
}
.colorchange:hover{
    border-radius: 20px;
    color: orange;
    border: 1px solid orange;
}
.end input{
    width: 100px;
    height: 25px;
    border: none ;
    color: rgb(131, 126, 126);
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 20px;

}
.end input:hover{
    border-radius: 20px;
    color: orange;
    border: 1px solid orange;
}
