body{
    height: 100%;
    background: linear-gradient(90deg, rgba(5,80,84,1) 0%, rgba(15,169,113,1) 50%, rgba(0,212,255,1) 100%);
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    margin: 0px auto;
    margin-top: 250px;
    width: 400px;
}
#pass{
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
    outline: none;
}
#btnclick{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom right,#0c93d7,#0080ff,#4192d8);
    color: white;
}
.len{
    padding: 5px;
    float: right;
    width: 150px;
    border-radius: 7px;
    border: none;
    text-align: center;
    color: red;
    outline: none;
}
.lentext{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    outline: none;
}

